body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
  }

main {
    flex: 1 0 auto;
}

.background-login
{
    background: url('/images/stefan-stefancik-257625-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #26a69a;
    border-color: #26a69a;
    color: #fafafa;
    cursor:pointer;
    z-index:2;
}